@import 'assets/variables.scss';
.freeStuff{
  margin-top: 24px;
  margin-bottom: 8px;
}
.rightSidebarFreeItemList{
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar{
    background: white;
    width: 4px;
  };
  &::-webkit-scrollbar-thumb{
    background-color: $background4;
  }
}
.hideScroll::-webkit-scrollbar-thumb{
  display: none;
}
