  $body-background-color:#E7E5E5;
  $border-bottom-header: 1px solid #d9d9d9;
  $modal-header-text-size: 20px;
  $modal-button-close-size:20px;
  $modal-header-padding: 10px 16px;
  $modal-footer-padding: 10px 16px;
  $modal-body-padding: 10px 16px;
  $modal-icon-size: 20px;
  $card-padding: 10px 16px;
  $background1: #de7a22;
  $background2: #E5D0E3;
  $background3: #AEE5D8;
  $background4: #20948b;
  $border-radius-small: 2px;
  $border-radius-medium: 4px;
  $border-radius-large: 8px;
  $section-padding: 16px 24px;
  $section-background-color: white;
  $section-box-shadow: 0 0 1px 1px #d9d9d9;
  $section-border: 1px solid #d9d9d9;
  $right-bar-section-bg: white;
  $btn-close-color:#7BE0AD;
  $btn-save-color:#E0B0D5;
  $text-color: rgba(0,0,0,0.65);
